<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <title>Movie Application - Dashboard</title>
</head>

<body>
  <a href="/">Logout</a>
  <h1 id="greet"></h1>
  <p>Welcome <%= user %>, Search any movies here</p>
  <div align="left">
    <h1 id="greet"></h1>
    <form>
      <div class="form-moviesearch">
        <input type="text" id="movieName" autofocus placeholder="Movie Name">
      </div>
      <button type=submit id="search"> Search</button>
    </form>

  </div>
  <div id="movies-searchable">
  </div>
  <script src="js/index.js"></script>
</body>

</html>